.Season {
  height: 200px;
  position: relative;
  max-width: 800px;
  margin: auto;
  transition: all 0.5s ease;
}

.Season:hover {
  border: solid 3px blue;
}

.SeasonNumber {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  padding: 10px 20px;
  font-size: 33px;
}

.Season::before {
  content: '';
  height: 195px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  border: solid 3px transparent;
  transition: all 0.5s ease;
}

.Season:hover::before {
  height: 0;
  width: 0;
  background-color: rgba(0, 0, 0, 0);
}

.Season:hover .SeasonNumber {
  color: rgba(255, 255, 255, 0.9);
}

.Season h2 {
  position: absolute;
  left: 40px;
  font-size: 50px;
  color: white;
  z-index: 3;
}

.SeasonVideo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
