.Landing {
    background-image: url(../../assets/images/landing-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px salmon;
    min-height: 100vh;
    position: relative;
}

.Title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: solid 3px red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: auto;
}
.Title img {
    border: solid 2px blue;
    width: 100%;
}

.LandingTv {
    position: absolute;
    left: 50.3%;
    top: 220px;
    transform: translateX(-50%);
    height: 285px;
    width: 530px;
    border: solid 2px orange;
 
}