.Landing {
  background-image: url(../../assets/images/landing-background.png);
  background-position: center 50px;
  background-repeat: no-repeat;
  background-size: fill;
  border: solid 1px salmon;
  min-height: 100vh;
  position: relative;
}

.Title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: solid 3px red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: auto;
}
.Title img {
  border: solid 2px blue;
  width: 100%;
}

.LandingTv {
  position: absolute;
  left: 50%;
  top: 230px;
  transform: translateX(-50%);
  height: 255px;
  width: 460px;
  z-index: 1;
  background-image: url('../../assets/gifs/tv-video.gif');
  background-size: contain;
  background-position: center;
}

.LandingTv::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 255px;
  width: 460px;
  content: '';
  z-index: 9;
}

.LandingTv:hover::after {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.LandingTv:hover::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: 'Go';
  color: white;
  font-size: 33px;
  cursor: pointer;
  z-index: 10;
}
