@font-face {
  font-family: 'calligraphrregular';
  src: url('../../stylesheets/roiland-sans-webfont.woff2') format('woff2'),
    url('../../stylesheets/roiland-sans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.Landing {
  background-image: url(../../assets/images/landing-background.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: fill;
  min-height: 100vh;
  position: relative;}

.LandingTv {
  position: absolute;
  left: 50%;
  top: 305px;
  transform: translateX(-50%);
  height: 255px;
  width: 460px;
  z-index: 1;
  background-image: url('../../assets/gifs/tv-video.gif');
  background-size: contain;
  background-position: center;
}

.LandingTv::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 255px;
  width: 460px;
  content: '';
  z-index: 9;
  transition: all 0.5s ease;
}

.LandingTv:hover::after {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.LandingTv::before {
  content: '';
  transition: all 0.5s ease;
}
.LandingTv:hover::before {
  font-family: 'calligraphrregular';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "Show me what you've got";
  text-align: center;
  color: white;
  font-size: 43px;
  cursor: pointer;
  z-index: 10;
}
