@font-face {
  font-family: 'calligraphrregular';
  src: url('../../../stylesheets/roiland-sans-webfont.woff2') format('woff2'),
    url('../../../stylesheets/roiland-sans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.CharacterDetail {
  margin: 200px auto 30px;
  width: 600px;
  box-shadow: 0 5px 5px rgb(71, 71, 71);
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.CharacterName {
  font-family: 'calligraphrregular';
  font-size: 30px;
}

/* .CharacterAvatar {
  background-color: greenyellow;
  border-bottom-left-radius: 70px;
  border-top-right-radius: 10px;
} */
.Avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: 50px;
  border-radius: 10%;
  position: relative;
  transition: all 1s ease;
}

.Avatar:hover {
  opacity: 0.8;
  animation-name: grow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.Avatar:hover::before {
  content: '';
  width: 300px;
  height: 300px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('../../../assets/images/portal.png');
  background-size: cover;
  background-position: center;
  transform: rotate(-22deg);
  animation-name: spin, growBackground;
  animation-duration: 60s, 3s;
  animation-iteration-count: infinite, infinite;
  animation-timing-function: linear, linear;
  animation-direction: normal, alternate;
}

.CharacterInfo {
  flex-grow: 1;
  order: -1;
  margin: 20px;
  margin-left: 40px;
}

.CharacterQuotes {
  font-family: 'calligraphrregular';
  text-align: center;
  flex-basis: 100%;
  background-color: rgb(178, 247, 74);
  color: rgb(75, 74, 74);
  font-weight: bold;
  font: 22px;
  position: relative;
}

.Links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-basis: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(178, 247, 74);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Links li {
  height: 40px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.Link {
  font-family: 'calligraphrregular';
  padding: 15px 0;
  text-decoration: none;
  text-align: center;
  height: 100%;
  width: 100%;
  display: block;
  transition: all 0.5s ease;
}

.Link:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes growBackground {
  from {
    background-size: 100%;
  }
  to {
    background-size: 110%;
  }
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.06);
  }
}
