@font-face {
  font-family: 'calligraphrregular';
  src: url('../../stylesheets/roiland-sans-webfont.woff2') format('woff2'),
    url('../../stylesheets/roiland-sans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.Seasons {
  margin-top: 200px;
  font-size: 22px;
  font-family: 'calligraphrregular';
  color: white;
}
.Seasons strong {
  color: rgba(127, 238, 63, 0.911);
}

.SeasonsText {
  width: 80%;
  margin: auto;
  position: relative;
  text-align: center;
}

.Icon {
  background-image: url('../../assets/gifs/happy.gif');
  background-size: cover;
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}

.SeasonsText h2 {
  text-align: center;
}
