@font-face {
  font-family: 'calligraphrregular';
  src: url('../../../stylesheets/roiland-sans-webfont.woff2') format('woff2'),
    url('../../../stylesheets/roiland-sans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.Missing {
  margin-top: 300px;
  color: white;
  text-align: center;
}

.Missing h2,
h3 {
  font-family: 'calligraphrregular';
}

.Missing p {
  font-family: 'Montserrat';
}
.Missing strong {
  color: rgba(127, 238, 63, 0.911);
}

.Icon {
  display: block;
  height: 200px;
  width: 200px;
  background-image: url('../../../assets/gifs/secret.gif');
  background-size: cover;
  margin: auto;
  margin-top: 50px;
}

.Link {
  font-family: 'calligraphrregular';
  padding: 15px 0;
  text-decoration: none;
  text-align: center;
  height: 100%;
  width: 100px;
  display: block;
  transition: all 0.5s ease;
  color: greenyellow;
  margin: auto;
  border-radius: 5px;
}

.Link:hover {
  cursor: pointer;
  background-color: rgba(82, 83, 138, 0.384);
}

.Link:hover::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100px;
  height: 100px;
  background-image: url(../../../assets/gifs/run.gif);
  background-size: cover;
  background-position: center;
  animation-name: run;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes run {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
